* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Palanquin', sans-serif;
}



main {

	/*background-image: url(../images/bulb.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;

	height: 850px;
	background-position: center top; 
	width: 100%;
	
}

.header {
	background-color: #030B21;

}

.navbar-toggler-icon {
	color: #66FCF1;
}

#navbarContent>ul>li>a {
	color: #66FCF1;
	background-color: #0B0C10;
	margin: 5px;
	text-align: center;
	border: 1px solid #C5C6C7;
}


.navbar>.navbar-brand {

	background-color: #0B0C10;
	margin: 5px;
	text-align: center;
	border: 1px solid #C5C6C7;
}

.navbar {
	background-color: #0B0C10;
}

.container {
	width: 80%;
}

#landingpage {
	background-size: cover;
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
	background-color: #041133;
	text-align: center;
}

#landingpage>.containermain >h2>p>.btn-trans {
	border: solid 1px #66FCF1;
	color: #C5C6C7;
}

#landingpage>.containermain >h2>p>.btn-trans:hover {
	background-color: #66FCF1;
	border: solid 1px #66FCF1;
	color: #0B0C10;
}


#landingpage {
/*	background-image: url(../images/background1.jpg);*/
	background-color: #0B0C10;
}



div.containermain h2 {
	color: #66FCF1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   
}

 div.containermain h2 .name, h2 { 
 	font-family: 'Notable', sans-serif;
 }

div.containerportfolio h2 {
	color: black;
	text-align: center;
}

div.containercontact{
	text-align: center;
}

#aboutme {
	color: #45A29E;
	text-align: center;
/*	background-image: url(../images/d3.jpg);*/
	background-color: #1F2833;
}

#me {
	height: 200px; 
	width: 200px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	margin-top: 50px;
}

#portfolio {
	background-color: #45A29E;
	height: 600px;
	color: #1F2833;
	background-size: cover;
    background-image: url(../images/cyan.jpg);
	background-repeat: no-repeat;
    background-position: center top;
}


#portfolio>.containerportfolio>.card>.card-body>button {
	border: solid 1px #66FCF1;
	background-color: #1F2833;
}

#portfolio>.containerportfolio>.card>.card-body>button:hover {
	background-color: #66FCF1;
	border: solid 1px #66FCF1;
	color: #0B0C10;
}

#mainfooter {
	background-size: cover;
    background-image: url(../images/contact.jpg);
	background-repeat: no-repeat;
    background-position: center top;
	background-color: #C5C6C7;
	color: #66FCF1;
	height: 300px;

}

#portfolio>.containerportfolio>.card {
	margin-top: 20px;
	float: left;
	height: 310px;
	width: 400px;
	text-align: center;
	background-color: #66FCF1;
}

.card>img{
	background-color: #0B0C10;

}

.section-title {
	font-family: 'Notable', sans-serif;
}

img {
	width: 400px;
	height: 300px;

}

#aboutme>.row>div>p, #aboutme>.row>div>div>div>p{
	color: #C5C6C7;
}

#aboutme>.row>div>div>div>.progress>.progress-bar{
	background-color: #45A29E; 
}
